h1 {
  font-weight: 200%;
  text-align: center;
}

body {
  background-color: rgb(204, 204, 204);
  color: rgb(53, 53, 53);
  overflow-y: scroll;
}

canvas {
  margin: auto;
  display: block;
}

.title {
  margin-bottom: 5px;
}

.middle {
  float: middle;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.col-sm-8.network {
  height: 40em;
  border-style: dotted;
  margin-bottom: 1%;
}

.container {
  min-width: 90%;
}

.dataContainer {
  border-style: dotted;
}

.col-6 {
  word-wrap: break-word;
}

.row {
  --bs-gutter-x: 0;
}

row.align-items-center{
  margin:auto;
}

.dataRow {
  margin-left: 1px;
  margin-Right: 1px;
  text-align: left;
}

.dataTable{
  margin-left: 10px;
}

.middle.attributes {
  margin-bottom: auto;
}

.popover.node {
  opacity: 0.8;
}

.col.value {
  min-width: 100px;
  
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin: auto;
  border: 1px solid black;
  clear: both;
}

.square {
  float: left;
  height: 20px;
  width: 20px;
  margin: auto;
  background: rgb(0, 0, 0);
  clear: both;
}

/*Second number is the height, starting with 0 at the top of the div*/
.triangle {
  --path: 50% 0, 100% 100%, 0 100%;

  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  clip-path: polygon(var(--path));
}

.diamond {
  --path: 50% 0, 0% 50%, 50% 100%, 100% 50%;

  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  clip-path: polygon(var(--path));
}


.dot {
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}

.star {
  --path: 50% 5%, 61% 40%, 98% 40%, 68% 62%, 79% 96%, 50% 75%, 21% 96%, 32% 62%, 2% 40%, 39% 40%;

  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  clip-path: polygon(var(--path));
}


/*Acoordion*/
.accordiontop {
  max-width: 30%;
  margin: auto;
}

.accordion-button {
  margin:auto;
} 

.row.align-items-left{
  height: 100%;
}

.fixedHeight{
  height: 1em;
  padding-top: 6px;
}

.legend.btn {
  display: flex;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 35px;
}


.legend.btn.btn-outline-primary.active {
  background: white;
  color: #0d6efd;
  box-shadow: 0px 0px;
  border-color: #0d6efd;
  opacity: 100%;
}

.legend.btn.btn-outline-primary.active:hover {
  background: white;
  color: #0d6efd;
  box-shadow: 0px 0px;
  border-color: #0d6efd;
  opacity: 100%;
}

.legend.btn.btn-outline-primary {
  background: rgb(170, 170, 170);
  opacity: 65%;
  border-color: #000000;
}

.legend.btn.btn-outline-primary:hover {
  color: #0d6efd;
}

.legend.btn.btn-outline-primary:focus {
  box-shadow: 0px 0px;
}

.row {
  --bs-gutter-x: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .col.color{
  background-color: #000000;
}

.col.shape{
  background-color: #ff0000;
}

.col.nodeBorder{
  background-color: #00ff0d;
} */

/* .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row > [class*='col'] {
	 display: flex;
	 flex-direction: column;
} */