.title {
  font-size: 300%;
}

h1 {
  text-align: center;
  font-weight: 800;
}

h2 {
  font-weight: 800;
}

body {
  background-color: rgb(151, 151, 151);
  color: rgb(221, 221, 221);
}

canvas {
  margin: auto;
  display: block;
}

.middle {
  float: middle;
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.middle.network {
  border-style: dotted;

  width: 60.00%;
  height: 50em ;
}