h1 {
  font-weight: 200%;
  text-align: center;
}

body {
  background-color: rgb(204, 204, 204);
  color: rgb(53, 53, 53);
  overflow-y: scroll;
}

canvas {
  margin: auto;
  display: block;
}

.title {
  margin-bottom: 5px;
}

.middle {
  float: middle;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.col-sm-8.network {
  height: 30em;
  border-style: dotted;
  margin-bottom: 0.5%;
}

.col-sm-8.clusterNetwork {
  height: 15em;
  border-style: dotted;
  margin-top: 0.5%;
}

.container {
  min-width: 90%;
}

.dataContainer {
  border-style: dotted;
}

.col-6 {
  word-wrap: break-word;
}

.dataRow {
  margin-left: 1px;
  margin-Right: 1px;
  text-align: left;
}

.middle.attributes {
  margin-bottom: auto;
}

.popover.node {
  opacity: 0.8;
}

.col.value {
  min-width: 100px;
  
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin: auto;
  border: 1px solid black;
  clear: both;
}

.square {
  float: left;
  height: 20px;
  width: 20px;
  margin: auto;
  background: rgb(0, 0, 0);
  clear: both;
}

/*Second number is the height, starting with 0 at the top of the div*/
.triangle {
  --path: 50% 0, 100% 100%, 0 100%;

  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  clip-path: polygon(var(--path));
}

.diamond {
  --path: 50% 0, 0% 50%, 50% 100%, 100% 50%;

  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  clip-path: polygon(var(--path));
}


.dot {
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}

.star {
  --path: 50% 5%, 61% 40%, 98% 40%, 68% 62%, 79% 96%, 50% 75%, 21% 96%, 32% 62%, 2% 40%, 39% 40%;

  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  clip-path: polygon(var(--path));
}


/*Acoordion*/
.accordiontop {
  max-width: 20%;
  margin: auto;
}

.accordion-button {
  height: 30px;
}

.legend.btn {
  display: flex;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: 35px;
}

/*Blueish color is equal to bootstrap primary color*/
.legend.btn.btn-outline-primary.active:focus {
  background: #0d6efd;
  color: white;
  box-shadow: 0px 0px;
}

.legend.btn.btn-outline-primary:focus {
  background: white;
  color: #0d6efd;
  box-shadow: 0px 0px;
}