/*--- GENERIC OPTIONS ---*/
body {
  background-color: rgb(204, 204, 204);
  color: rgb(53, 53, 53);
  overflow-y: scroll;
}

h1 {
  font-weight: 200%;
  text-align: center;
} 

canvas {
  border-style: dotted;
  height: 100%;
}

/*Make text inside an element unselectable (to evade unwanted text highlight)*/
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-center {
  text-align: center;
  margin: auto;
}

/*Need this so the app width has a minimum width*/
.container {
  min-width: 95%;
}

/*--- DATA TABLES ---*/
.dataRow {
  margin-left: 1px;
  margin-Right: 1px;
  text-align: left;
}

.dataTable{
  margin-left: 10px;
}

/*--- TOOLTIP ---*/
.popover.node {
  opacity: 0.8;
}

.popover.legend{
  direction: rtl;
}

.popover.legend > *{
  direction: ltr;
}