

.networkContainer {
    height: 40em;
    margin-bottom: 1%;
}

.networkContainerVertical{
    height: 22em;
    margin-bottom: 1%;
}

.networkContainerHorizontal{
    height: 40em;
    margin-bottom: 1%;
}